#main-content {
	text-align: center;
	padding-top: 25%;
}

#tahoe {
    background: url('tahoe.jpg') center center no-repeat;
    background-size: contain;
    height: 0;
    width: 100%;
    padding-top: 66.77%;
    color: white;
    display: flex;
    align-items: center;
}

#tahoe-caption {
	font-size: 1.4rem;
	font-weight: 200;
	margin: 0 auto;
	text-align: center;
}

#tahoe-caption h1 {
	color: white;
}

