#main-content {
	text-align: center;
	padding-top: 25%;
}

#tahoe {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%,rgba(255, 255, 255, 0) 30%,rgba(255, 255, 255, 0) 100%),
    url('tahoesoft.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.intro-caption {
    max-width: 100%;
    height: auto;
	margin: 0 auto;
    text-align: center;
}
